.app {
  display: flex;
  align-items: left;
  justify-content: start;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

h1.header {
  color: white;
}

.calculator-container {
  display: flex;
  flex: 40%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1000%;
  width: 500px;
}

.form-container {
  width: inherit;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
}

.form-group {
  display: block;
}

.form-group:not(:first-of-type) {
  padding-top: 10px;
}

.form-group:last-of-type {
  padding-bottom: 10px;
}

.form-header {
  color: gray;
}

.form-header > hr {
  border-width: 0.5px;
  margin-bottom: 0 !important;
}

.form-header > .second-column {
  text-align: center;
}

.form-header > .third-column {
  text-align: center;
}

.first-column {
  display: inline-block;
  width: 150px;
}

.first-column > i {
  color: gray;
}

.second-column {
  display: inline-block;
  width: 275px;
}

.third-column {
  display: inline-block;
  width: 75px;
}

.second-column > input {
  width: 250px;
}

.third-column > select {
  width: 60px;
  margin-left: 10px;
}

.results-container {
  flex: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.table-container {
  background-color: white;
  padding: 10px;
  min-height: 250px;
  max-height: 60vh;
  overflow-y: auto;
}

table {
  border-spacing: 0;
  border: 1px solid gray;
}

th, td {
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray;
  padding: 5px;
}

th {
  text-align: center;
}

th:last-child, td:last-child {
  border-right: 0.5px solid gray;
}